
.main-div{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: auto;
    max-width: 400px;
}


.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}


button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
label{
    font-size: larger;
    font-weight: bold;
    color: #007bff;
    text-wrap: nowrap;
}
.sec-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
button:hover {
    background-color: #0056b3;
}


h1 {
    text-align: center;
}


@media (max-width: 600px) {
    div {
        max-width: 100%;
    }
}