
.main-div {
    text-align: center;
    margin: auto;
    max-width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}


h1 {
    font-size: 24px;
    margin-bottom: 20px;
}


input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
}

button {
    background-color: #007bff;
    color: hsl(0, 0%, 100%);
    width: 50%;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}


.loading-message {
    font-size: 18px;
    margin-top: 20px;
}


ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}


ul li a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
}

ul li a:hover {
    color: #0056b3;
}